{% extends 'index.html' %} 

{% load static %} 

{% block content %}

<style>
  .contenedor_h2 {
    text-align: center;
    font-weight: bold;
  }
</style>

<div class="container mt-3">
  <h2 class="contenedor_h2">Crear Fecha</h2>
  <form method="post" class="mt-2 mb-2">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label bold">Crear</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="proceso" required>
    </div>
    <div class="d-grid gap-2 col-3 mx-auto contenedor_botones mb-3">
      <button class="btn btn-primary" type="submit">Guardar</button>
      <a href="{% url 'ver_actividad' resultado_id=resultado.id %}" role="button" class="btn btn-secondary">Volver</a>
    </div>
  </form>
</div>

{% endblock content %}