/* Estilos Generales */
.container__header {
  display: flex;
}
.container__header h2 {
  flex-grow: 2;
  font-weight: bold;
}
.container__header__all {
  display: flex;
}
.container__header__all h2 {
  flex-grow: 2;
  font-weight: bold;
}
.container__header__all a:last-child {
  margin-left: 15px;
}
.centrar {
  text-align: center;
}
.centrar__bold {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}
.bold {
  font-weight: bold;
}
.container__header__button {
  display: flex;
  justify-content: space-between;
}
.container__buttons {
  display: flex;
}
.container__buttons a:last-child {
  margin-left: 10px;
}
.boton__grande {
  height: 3.5rem;
  width: 14rem;
  font-size: 20px;
}
.formulario_area {
  height: 170px;
}
.imagen__editar {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.imagen__editar:hover {
  opacity: 0.5;
}
.boton__enviar {
  width: 80px;
}
.enviar {
  width: 100%;
  padding: 12px 10px 10px 12px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 1s all;
  text-align: center;
}
.enviar_datos {
  width: 20%;
  padding: 12px 10px 10px 12px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 1s all;
  text-align: center;
}
.enviar_datos:hover {
  background-color: darkorange;
  transform: scale(0.95);
}

@media (max-width:991px) {
  .enviar_datos {
    width: 100%;
  }
}

.contenedor-boton-resultados {
  display: flex;
  justify-content: center;
} 
.enviar:hover {
  background-color: darkorange;
  transform: scale(0.95);
}
@media (max-width:767px) {
  .container__header {
    flex-direction: column; 
    text-align: center;
  }
  .container__header__all {
    flex-direction: column;
  }
  .container__header__all a:last-child {
    margin: 10px 0 0;
  }
  .container__width {
    width: 100%;
  }
  .boton__grande {
    width: 100%;
  }
}
@media (max-width:328px) {
  .container__header__button {
    flex-direction: column;
  }
  .container__buttons {
    flex-direction: column;
  }
  .container__buttons a:last-child {
    margin: 10px 0 10px 0;
  }
}

.contenedor-boton-salir {
  display: flex;
  justify-content: start;
  flex-grow: 2;
}
.contenedor-boton-avance {
  display: flex;
  justify-content: end;
}
.contenedor-boton-salir_flex {
  display: flex;
  justify-content: space-between;
}
.contenedor__boton_flex {
  display: flex;
}
.card-title {
  flex-grow: 2;
}
.boton-editar {
  margin-right: 5px;
}
.custom-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
