.contenedor-titulo-checkbox {
  display: flex;
}
.form-check-input {
  background-color: #e5e5e5;
}
.card {
  box-shadow: 2px 2px 2px #CCC;
  border: none;
}
.card:hover {
  box-shadow: 4px 4px 4px #CCC;
}
.contenedor_boton_guardar {
  margin-bottom: 2%;
}
