{% extends 'index.html' %}

{% load static %}

{% block content %}

<style>
  .card {
    box-shadow: 2px 2px 2px #CCC;
    border: none;
  }
  .card:hover {
    box-shadow: 4px 4px 4px #CCC;
  }

</style>

<div class="container mt-3 container__header">
  <h2>Resultados</h2>
  <a class="btn btn-dark boton__crear" href="{% url 'crear_resultado' %}" role="button">Crear resultado</a>
</div>

{% for resultado in resultados %}
  {% if forloop.counter0|divisibleby:3 %}
    <div class="container mt-3 mb-4 container_resultados">
      <div class="row row-cols-1 row-cols-md-3 g-4">
  {% endif %}

  <!-- Para poner la primera letra de cada párrafo en mayúscula, puedes usar el selector CSS :first-letter. Primero debes pasar el texto a minúscula y luego poner la primera letra como mayúscula utilizando el siguiente selector CSS: .let p { text-transform: lowercase; } .let p:first-letter { text-transform: uppercase; }2. -->

  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="contenedor-boton-salir">
          <h5 class="card-title">{{ resultado.nombre }}</h5>
          <a href="{% url 'modificar_resultado' resultado_id=resultado.id %}" class="boton-editar"><img src="https://live.staticflickr.com/65535/52970526099_6367029b9d_t.jpg" alt=""></a>
          <a href="{% url 'eliminar_resultado' resultado_id=resultado.id %}" class="btn btn-close" aria-label="Close"></a>
        </div>
        <p class="card-text">{{ resultado.fecha }}</p>
        <p class="card-text">{{ resultado.texto }}</p>
        <a href="{% url 'ver_actividad' resultado_id=resultado.id %}" class="btn btn-primary mt-4">Ir al resultado</a>
      </div>
    </div>
  </div>

  {% if forloop.counter|divisibleby:3 or forloop.last %}
      </div>
    </div>

    {% if not forloop.last %}
      <div class="mb-4"></div>
    {% endif %}
  {% endif %}

  {% empty %}

  <div class="container custom-center">
    <div class="jumbotron text-center">
        <h1 class="display-4">No hay resultados registrados</h1>
        <p class="lead">No se ha encontrado ningun resultado en este momento.</p>
    </div>
  </div>
  
{% endfor %}

{% endblock  %}