{% extends 'index.html' %} 

{% load static %} 

{% block content %}

<style>
  .contenedor_h2 {
    text-align: center;
    font-weight: bold;
  }
</style>

<div class="container mt-2">
  <div class="card">
    <div class="card-header text-center">
      <h3 class="fst-italic mt-2 font-monospace">Crear Avance</h3>
    </div>
  </div>
</div>

<div class="container mt-3">
  <form method="post" class="mt-2 mb-2">
    {% csrf_token %}
    <div class="mb-3">
      <h5 for="exampleFormControlInput1" class="form-label font-monospace">Contenido</h5>
      <input type="number" min="0" max="100" class="form-control" id="exampleFormControlInput1" name="contenido" placeholder="0%" value="0" required>
    </div>
    <div class="contenedor__boton-all mb-3">
      <button class="btn btn-primary contenedor__boton-guardar" type="submit">Guardar</button>
      <a href="{% url 'ver_actividad' proyecto_id=proyecto.id resultado_id=resultado.id %}" role="button" class="btn btn-secondary contenedor__boton-guardar">Volver</a>
    </div>
  </form>
</div>

{% endblock content %}