<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eliminar</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <style>
    html, body {
      height: 100%;
    }
    
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .container {
      flex-grow: 1;
    }

    .form-box {
      border: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      transition: box-shadow 0.3s;
    }

    .form-box:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  </style>

  <main>
    <div class="container">
      <h1 class="text-center">Eliminar Avance</h1>
      <div class="text-center form-box">
        <p>¿Estás seguro de que deseas eliminar "{{ avance.contenido }}"?</p>
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Eliminar</button>
          <a href="{% url 'ver_actividad' resultado_id=resultado.id %}" class="btn btn-secondary">Volver</a>
        </form>
      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>