{% extends 'index.html' %} {% load static %} {% block content %}

<style>
  .formulario_area {
    height: 170px;
  }
  .contenedor_h2 {
    text-align: center;
    font-weight: bold;
  }
  @media (max-width: 767px) {
    .contenedor_botones {
      width: 100%;
    }
    .formulario_area {
      height: 170px;
    }
  }
</style>

<div class="container mt-3">
  <h2 class="contenedor_h2">Editar sección</h2>
  <form method="post" class="mt-3 mb-3">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Nombre Sección</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        name="nombre"
        value="{{ seccion.nombre }}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Contenido de la sección</label
      >
      <textarea
        class="form-control formulario_area"
        id="exampleFormControlTextarea1"
        name="contenido"
        placeholder="Maximo 300 caracteres"
        required
      >
{{ seccion.contenido }}</textarea
      >
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Porcentaje de avance</label
      >
      <input
        type="number"
        class="form-control"
        id="exampleFormControlInput1"
        name="avance"
        value="{{ seccion.avance }}"
        placeholder="10%"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Fecha de vencimiento</label>
      <label for="exampleFormControlTextarea1" class="form-label"></label>
      <input class="form-control" type="datetime-local" name="fecha_vencimiento_seccion" id="fecha_vencimiento_seccion" value="{{ seccion.fecha_vencimiento_seccion|date:'Y-m-d\TH:i' }}" required>
    </div>
    <div class="d-grid gap-2 col-4 mx-auto contenedor_botones mb-3">
      <button class="btn btn-primary" type="submit">Guardar</button>
      <a
        href="{% url 'ver_secciones' resultado_id=resultado.id actividad_id=actividad_id %}"
        class="btn btn-secondary"
        role="button"
        >Volver</a
      >
    </div>
  </form>
</div>

{% endblock %}
