{% extends 'index.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/ver_secciones.css' %}">

<style>
 .progress-bar {
  width: 100%;
  height: 20px;
  background-color: #e5e5e5;
}

.progress {
  height: 20px;
  background-color: #4caf50;
  width: {{ porcentaje }}%;
}

.contenedor_porcentajet_valores {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.contenedor_porcentaje_valores h6:last-child {
  {% if porcentaje == 100 %}
    display: none;
  {% endif %}
}
@media (max-width:767px) {
  .fecha__vencimiento {
    font-size: 14px;
  }
}
  
</style>

<div class="container mt-3">
  <div class="card">
    <div class="card-header text-center">
      <h3 class="fst-italic mt-2 font-monospace card__titulo-h3">{{ actividad.nombre }}</h3>
    </div>
  </div>
</div>

<div class="container mt-3 botones__resultado">
  <a class="btn btn-dark" href="{% url 'crear_secciones' proyecto_id=proyecto.id resultado_id=resultado.id actividad_id=actividad_id %}">Crear sección</a>
  <a class="btn btn-dark volver-resultado" href="{% url 'ver_actividad' proyecto_id=proyecto.id resultado_id=resultado.id %}">Volver</a>
</div>

{% if total_secciones >= 1 %}
<div class="container mt-2" >
  <div class="card 
  {% for seccion in secciones_terminadas  %}
    {% if actividad.fecha_vencimiento > current_datetime and tiempo_real.days == 0 %}
      {% if seccion.is_completed == True %}
        text-bg-primary
      {% else %}
        text-bg-warning    
      {% endif %}
    {% endif %}
  
    {% if actividad.fecha_vencimiento < current_datetime %}
      {% if seccion.is_completed %}
        text-bg-primary
      {% else %}
        text-bg-danger  
      {% endif %}
    {% endif %}
  
    {% if actividad.fecha_vencimiento > current_datetime %}
      text-bg-primary
    {% endif %}    
  {% endfor %}

  mt-3 mb-4">
    <div class="card-body">
      {% if tiempo_real.days == 0 %}
      <h5 class="fecha__vencimiento">Fecha de vencimiento:  {{ actividad.fecha_vencimiento }}</h5>
      <h5 class="fecha__vencimiento">Vence en: {{mensaje}}</h5>
      {% elif tiempo_real.days == 1 %}
      <h5>Fecha de vencimiento:  {{ actividad.fecha_vencimiento }}</h5>
      <h5>Vence en: {{tiempo_real.days}} día</h5>
      {% elif tiempo_real.days <= 1 %}
      <h5>Fecha de vencimiento:  {{ actividad.fecha_vencimiento }}</h5>
      <h5>No queda tiempo</h5>
      {% else %}
      <h5>Fecha de vencimiento:  {{ actividad.fecha_vencimiento }}</h5>
      <h5>Vence en: {{tiempo_real.days}} días</h5>
      {% endif %}
    </div>
  </div>
  

  <div class="progress-bar">
    <div class="progress" style="width: {{ porcentaje }}%"></div>
  </div>
  <div class="contenedor_porcentajet_valores">
    {% if porcentaje < 100 %}
      <h6>{{ porcentaje }}%</h6>
    {% endif %}
    <h6>100%</h6>
  </div>

  
  {% for variable in variables %}
  {% if forloop.counter0|divisibleby:5 %}
    <div class="mt-3 mb-4 container_resultados">
      <div class="row row-cols-1 row-cols-md-5 g-4">
  {% endif %}
  <div class="col">
    <div class="card">
      <div class="card-body centrar">
        <h5 class="card-title font-monospace fst-italic">Sección {{ forloop.counter }}</h5>
        {% if variable == 1 %}
        <p class="card-text">{{ variable }} día</p>
        {% elif variable <= 1 %}
        <p class="card-text">0 días</p>
        {% else %}
        <p class="card-text">{{ variable }} días</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:5 or forloop.last %}
      </div>
    </div>
    {% if not forloop.last %}
      <div class="mb-4"></div>
    {% endif %}
  {% endif %}
  {% endfor %}

    
</div>
{% endif %}


<form method="post" action="{% url 'guardar_seccion' proyecto_id=proyecto.id resultado_id=resultado_id actividad_id=actividad_id %}">
  {% csrf_token %}
  {% for seccion_datos in secciones_terminadas %}

  <div class="container mt-3">
    <div class="row">
      <div class="col-lg-6 mb-3 mb-sm-0">
        <div class="card mb-3">
          <div class="card-body">
            <div class="botones__proyecto">
              <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="seccion_datos_{{ seccion_datos.id }}" value="{{ seccion_datos.id }}" {% if seccion_datos.is_completed %}checked{% endif %}>
              <input class="form-check-input" type="hidden" id="flexCheckDefault" name="seccion_datos_status_{{ seccion_datos.id }}" value="{% if seccion_datos.is_completed %}completed{% else %}incomplete{% endif %}">
            </div>
            <h5 class="card-title font-monospace fst-italic progreso__texto-actividad mt-2 mb-3 card__titulo-p">{{ seccion_datos.nombre }}</h5>
            <p class="card-text progreso__texto saltos_linea">{{ seccion_datos.contenido }}</p>
            <div class="container__header__button">
              <div class="container__buttons">
                <a href="{% url 'editar_secciones' proyecto_id=proyecto.id  resultado_id=resultado.id actividad_id=actividad.id id=seccion_datos.id %}" class="btn btn-primary" role="button">Editar</a>
                <a href="{% url 'eliminar_secciones' proyecto_id=proyecto.id resultado_id=resultado.id actividad_id=actividad.id id=seccion_datos.id %}" class="btn btn-danger" role="button">Eliminar</a>
              </div>
              {% if total_secciones >= 1 %}
                <button type="submit" class="btn btn-success">Guardar</button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 mb-3">
        <div class="card">
          <div class="card-body centrar">
            <h5 class="card-title">% de avance</h5>
            <p class="card-text">{{ seccion_datos.avance }}%</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 mb-3">
        <div class="card">
          <div class="card-body centrar">
            <h5 class="card-title">Indicador meta</h5>
            <p class="card-text">{{ total_porcentaje }}%</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2 mb-3">
        <div class="card border border-3 
        {% if seccion_datos.fecha_vencimiento_seccion > current_datetime and seccion_datos.fecha_vencimiento_minus_24 < current_datetime %}
          {% if seccion_datos.is_completed == True %}
            border-primary
          {% else %}
            border-warning 
          {% endif %}
        {% endif %}
        {% if seccion_datos.fecha_vencimiento_seccion < current_datetime %}
          {% if seccion_datos.is_completed == True %}
            border-primary
          {% else %}
            border-danger 
          {% endif %}
        {% endif %}
        {% if seccion_datos.fecha_vencimiento_seccion > current_datetime %}
          border-primary
        {% endif %}
        ">
          <div class="card-body centrar">
            <h5 class="card-title">Vence el</h5>
            <p class="card-text">{{seccion_datos.fecha_vencimiento_seccion}}</p>
          </div>
        </div>
      </div>
    </div>
</div>


  {% empty %}

  <div class="container custom-center">
    <div class="jumbotron text-center">
        <h1 class="display-4">No hay secciones registradas</h1>
        <p class="lead">No se ha encontrado ninguna sección en este momento.</p>
    </div>
  </div>

  {% endfor %}

  
</form>


<script>

  document.addEventListener("DOMContentLoaded", function() {
    var checkboxes = document.querySelectorAll("input[type='checkbox']");

    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener("change", function() {
        var statusInput = checkbox.parentNode.querySelector("input[type='hidden']");

        if (checkbox.checked) {
          statusInput.value = "completed";
        } else {
          statusInput.value = "incomplete";
        }
      });
    });
  });
</script>





{% endblock  %}

{% comment %} 
{% if seccion_datos.is_completed == True %}
            <p class="card-text">100%</p>
            {% else %}
            <p class="card-text">0%</p>
            {% endif %}
{% endcomment %}