{% extends 'index.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/ver_secciones.css' %}">

<style>
 .progress-bar {
  width: 100%;
  height: 20px;
  background-color: #e5e5e5;
}

.progress {
  height: 20px;
  background-color: #4caf50;
  width: {{ porcentaje }}%;
}

.contenedor_porcentajet_valores {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.contenedor_porcentaje_valores h6:last-child {
  {% if porcentaje == 100 %}
    display: none;
  {% endif %}
}
  
</style>

<div class="container mt-3 contenedor-titulo">
  <h2 class="contenedor-h2">Actividad {{ actividad.nombre }}</h2>
  <a class="btn btn-dark boton_crear" role="button" href="{% url 'crear_secciones' resultado_id=resultado.id actividad_id=actividad_id %}">Crear sección</a>
  <a class="btn btn-dark" role="button" href="{% url 'ver_actividad' resultado_id=resultado.id %}">Volver</a>
</div>

<div class="container contenedor-secciones mt-3">
  <h3 class="">Secciones</h3>
</div>


{% if total_secciones >= 1 %}
<div class="container mt-2">
  <h5>Tiempo: {{ actividad_actual }}</h5>
  <h5 class="mb-3">Total: {{ total_secciones }}</h5>
  <div class="progress-bar">
    <div class="progress" style="width: {{ porcentaje }}%"></div>
  </div>
  <div class="contenedor_porcentajet_valores">
    {% if porcentaje < 100 %}
      <h6>{{ porcentaje }}%</h6>
    {% endif %}
    <h6>100%</h6>
  </div>
</div>
{% endif %}


<form method="post" action="{% url 'guardar_seccion' resultado_id=resultado_id actividad_id=actividad_id %}">
  {% csrf_token %}
  {% for seccion in secciones %}

  <div class="container mt-3">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <div class="contenedor-titulo-checkbox">
              <h5 class="card-title">{{ seccion.nombre }}</h5>
              <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="seccion_{{ seccion.id }}" value="{{ seccion.id }}" {% if seccion.is_completed %}checked{% endif %}>
              <input class="form-check-input" type="hidden" id="flexCheckDefault" name="seccion_status_{{ seccion.id }}" value="{% if seccion.is_completed %}completed{% else %}incomplete{% endif %}">
            </div>
            <p class="card-text">{{ seccion.contenido }}</p>
            <a href="{% url 'editar_secciones' resultado_id=resultado.id actividad_id=actividad.id id=seccion.id %}" class="btn btn-primary" role="button">Editar</a>
            <a href="{% url 'eliminar_secciones' resultado_id=resultado.id actividad_id=actividad.id id=seccion.id %}" class="btn btn-primary" role="button">Eliminar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2 contenedor_seccion_medio">
        <div class="card">
          <div class="card-body contenedor-secciones">
            <h5 class="card-title">% de avance</h5>
            <p class="card-text">{{ seccion.avance }}%</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2 mb-3">
        <div class="card">
          <div class="card-body contenedor-secciones">
            <h5 class="card-title">Indicador meta</h5>
            <p class="card-text">{{ total_porcentaje }}%</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="card">
          <div class="card-body contenedor-secciones">
            <h5 class="card-title">Días</h5>
            <p class="card-text">1 de junio 2023</p>
          </div>
        </div>
      </div>
    </div>
</div>

  {% empty %}

  <div class="container custom-center">
    <div class="jumbotron text-center">
        <h1 class="display-4">No hay secciones registradas</h1>
        <p class="lead">No se ha encontrado ninguna sección en este momento.</p>
    </div>
  </div>

  {% endfor %}

  {% if total_secciones >= 1 %}
  <div class="container mt-3 contenedor-secciones">
    <button type="submit" class="btn btn-success btn-lg contenedor_boton_guardar">Guardar</button>
  </div> 

  {% endif %}
  
</form>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    var checkboxes = document.querySelectorAll("input[type='checkbox']");

    checkboxes.forEach(function(checkbox) {
      checkbox.addEventListener("change", function() {
        var statusInput = checkbox.parentNode.querySelector("input[type='hidden']");

        if (checkbox.checked) {
          statusInput.value = "completed";
        } else {
          statusInput.value = "incomplete";
        }
      });
    });
  });
</script>





{% endblock  %}