{% extends 'index.html' %}

{% load static %}

{% block content %}

<div class="container mt-3">
  <div class="card">
    <div class="card-header text-center">
      <h3 class="fst-italic mt-2 font-monospace card__titulo-h3">Crear proyecto</h3>
    </div>
  </div>
</div>

<div class="container mt-3">
  <form method="post" class="mt-2 mb-2">
    {% csrf_token %}
    <div class="mb-3">
      <h5 for="exampleFormControlInput1" class="form-label font-monospace fst-italic pb-2 card__titulo-h3">Nombre del proyecto</h5>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="nombre" required>
    </div>
    <div class="contenedor__boton-all mb-3 pt-2">
      <button type="submit" class="btn btn-success contenedor__boton-guardar">Guardar</button>
      <a class="btn btn-secondary volver-resultado contenedor__boton-guardar" href="{% url 'home' %}">Volver</a>
    </div>
  </form>
</div>


{% endblock  %}
