{% extends 'index.html' %}

{% load static %}

{% block content %}

<div class="container mt-2">
  <div class="card">
    <div class="card-header text-center">
      <h3 class="fst-italic mt-2 font-monospace">Editar Actividad</h3>
    </div>
  </div>
</div>

<div class="container mt-2">
  <form method="post" class="mt-2 mb-2">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nombre actividad</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="nombre" value="{{ actividad.nombre }}" required>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Contenido de la actividad</label>
      <textarea class="form-control formulario_area" id="exampleFormControlTextarea1" name="contenido" placeholder="Maximo 300 caracteres" required>{{ actividad.contenido }}</textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Fecha de vencimiento</label>
      <label for="exampleFormControlTextarea1" class="form-label"></label>
      <input class="form-control" type="datetime-local" name="fecha_vencimiento" id="id_fecha_vencimiento" value="{{ actividad.fecha_vencimiento|date:'Y-m-d\TH:i' }}" required>
    </div>
    <div class="contenedor__boton-all">
      <button type="submit" class="btn btn-primary contenedor__boton-guardar">Guardar</button>
      <a href="{% url 'ver_actividad' proyecto_id=proyecto.id resultado_id=resultado.id %}" role="button" class="btn btn-secondary contenedor__boton-guardar">Volver</a>
    </div>
  </form>
</div>

{% endblock  %}