{% extends 'index.html' %}

{% load static %}

{% block content %}

<style>
  .card {
    box-shadow: 2px 2px 2px #CCC;
    border: none;
  }
  .card:hover {
    box-shadow: 4px 4px 4px #CCC;
  }
  .container-actividades {
    text-align: center;
  }
</style>

<div class="container mt-3 container__header__all">
  <h2>{{ resultado.nombre }}</h2>
  <a class="btn btn-dark" href="{% url 'crear_actividad' resultado_id=resultado.id %}">Crear Actividad</a>
  <a class="btn btn-dark" href="{% url 'home' %}">Volver</a>
</div>

<div class="container mt-3">
  <h3 class="centrar">Actividades</h2>
</div>

{% for actividad in actividades %}

<div class="container mt-3 mb-3 contenedor-body">
  <div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ actividad.nombre }}</h5>
      <p class="card-text">{{ actividad.contenido }}</p>
      <a href="{% url 'ver_secciones' resultado_id=resultado.id actividad_id=actividad.id %}" role="button" class="btn btn-primary" id="boton_ver_todo">Ver</a>
      <a href="{% url 'editar_actividad' resultado_id=resultado.id actividad_id=actividad.id %}" role="button" class="btn btn-primary">Editar</a>
      <a href="{% url 'eliminra_actividad' resultado_id=resultado.id actividad_id=actividad.id %}" role="button" class="btn btn-danger">Eliminar</a>
    </div>
  </div>
</div>

{% empty %}

<div class="container custom-center">
  <div class="jumbotron text-center">
      <h1 class="display-4">No hay actividades registradas</h1>
      <p class="lead">No se ha encontrado ninguna actividad en este momento.</p>
  </div>
</div>

{% endfor %}

{% endblock  %}