{% extends 'index.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/ver_actividades.css' %}">

<div class="container mt-3 container__header__all">
  <h2>{{ resultado.nombre }}</h2>
  <a class="btn btn-dark" href="{% url 'crear_actividad' resultado_id=resultado.id %}">Crear Actividad</a>
  <a class="btn btn-dark" href="{% url 'home' %}">Volver</a>
</div>

<div class="container mt-3">
  <h3 class="centrar__bold">Actividades</h2>
</div>

{% for actividad in actividades %}
<div class="container mt-3">
  <div class="row">
    <div class="col-lg-4 mb-3 mb-sm-0">
      <div class="card mb-3">
        <div class="card-body">
          <div class="contenedor-titulo-checkbox contenedor-boton-salir">
            <h4 class="card-title bold">{{ actividad.nombre }}</h4>
            <a href="{% url 'editar_actividad' resultado_id=resultado.id actividad_id=actividad.id %}" role="button"><img src="https://live.staticflickr.com/65535/52970526099_6367029b9d_t.jpg" alt="" class="imagen__editar"></a>
            <a href="{% url 'eliminra_actividad' resultado_id=resultado.id actividad_id=actividad.id %}" role="button" class="btn btn-close" aria-label="Close"></a>
          </div>
          <p class="card-text">{{ actividad.contenido }}</p>
          <p class="card-text mb-3">Fecha de vencimiento:<br/> {{ actividad.fecha_vencimiento }}</p>
          <div class="contenedor-boton-salir_flex">
            <a href="{% url 'ver_secciones' resultado_id=resultado.id actividad_id=actividad.id %}" class="enviar" role="button">Ver secciones</a>
         </div>
         <div class="mt-3 contenedor-boton-salir_flex">
          {% if actividad.avance_set.exists %}       
          {% else %}
          <a href="{% url 'crear_avance' resultado_id=resultado.id actividad_id=actividad.id %}" role="button" class="btn btn-outline-dark">Crear avance</a>
          {% endif %}    
          <a href="{% url 'crear_dificultad' resultado_id=resultado.id actividad_id=actividad.id %}" role="button" class="btn btn-outline-dark">Crear dificultad</a>
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 mb-3">
      {% for avance in actividad.avance_set.all %}
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="centrar">Avance Global</h5>        
          <h6 class="card-text centrar">{{ avance.contenido }}%</h6>
          <div class="contenedor-boton-salir_flex">
            <a href="{% url 'editar_avance' resultado_id=resultado.id actividad_id=actividad.id id=avance.id %}" role="button"><img src="https://live.staticflickr.com/65535/52970526099_6367029b9d_t.jpg" alt="" class="imagen__editar"></a>
            <a href="{% url 'eliminar_avance' resultado_id=resultado.id actividad_id=actividad.id id=avance.id %}" role="button" class="btn btn-close" aria-label="Close"></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-lg-6">
      <div class="accordion" id="dificultadesAccordion">
        {% for dificultad in actividad.dificultad_set.all %}
        <div class="card mb-3">
          <div class="card-header" id="dificultad{{ dificultad.id }}">
            <div class="contenedor-boton-salir_flex">
              <h4 class="centrar">Dificultad</h4>
              <div class="contenedor__boton_flex">
                <a href="{% url 'editar_dificultad' resultado_id=resultado.id actividad_id=actividad.id id=dificultad.id %}" role="button"><img src="https://live.staticflickr.com/65535/52970526099_6367029b9d_t.jpg" alt="" class="imagen__editar"></a>
                <a href="{% url 'eliminar_dificultad' resultado_id=resultado.id actividad_id=actividad.id id=dificultad.id %}" role="button" class="btn btn-close" aria-label="Close"></a>
              </div>
            </div>
            <p>{{ dificultad.contenido }}</p>
            <div class="contenedor-boton-avance">
              <a href="{% url 'crear_alternativa' resultado_id=resultado.id actividad_id=actividad.id dificultad_id=dificultad.id %}" role="button" class="btn btn-secondary">Crear alternativa</a>
            </div>
          </div>
          <div id="alternativas{{ dificultad.id }}" class="collapse show" aria-labelledby="dificultad{{ dificultad.id }}" data-bs-parent="#dificultadesAccordion">
            <div class="card-body">
              {% for alternativa in dificultad.alternativa_set.all %}
              <div class="contenedor-boton-salir_flex">
                <h4 class="centrar">Alternativa</h4>
                <div class="contenedor__boton_flex">
                  <a href="{% url 'editar_alternativa' resultado_id=resultado.id actividad_id=actividad.id dificultad_id=dificultad.id id=alternativa.id %}" role="button"><img src="https://live.staticflickr.com/65535/52970526099_6367029b9d_t.jpg" alt="" class="imagen__editar"></a>
                  <a href="{% url 'eliminar_alternativa' resultado_id=resultado.id actividad_id=actividad.id dificultad_id=dificultad.id id=alternativa.id %}" role="button" class="btn btn-close" aria-label="Close"></a>
                </div>
              </div>
              <p>{{ alternativa.contenido }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<section class="tiempo container mb-5">
  <h1 class="tiempo__titulo">Análisis de tiempo</h1>
  <div class="tiempo__contenido">
    <div class="tiempo__item">
      <h3>Cumplida</h3>
      <div class="tiempo__item-colores verde">
        <button class="btn btn-dark">Agregar</button>
      </div>
    </div>
    <div class="tiempo__item">
      <h3>En proceso</h3>
      <div class="tiempo__item-colores amarillo">
        <button class="btn btn-dark">Agregar</button>
      </div>
    </div>
    <div class="tiempo__item">
      <h3>Urgente</h3>
      <div class="tiempo__item-colores rojo">
        <button class="btn btn-dark">Agregar</button>
      </div>
    </div>
  </div>
</section>

{% empty %}

  <div class="container custom-center">
    <div class="jumbotron text-center">
        <h1 class="display-4">No hay actividades registradas</h1>
        <p class="lead">No se ha encontrado ninguna actividad en este momento.</p>
    </div>
  </div>

{% endfor %}


{% endblock  %}